In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
df=pd.read_csv("student_marks.csv")
df.head()

,Name,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,05-04-1988,55,45,56,87,21,52,89,65
1,Suresh,M,04-05-1987,75,96,78,64,90,61,58,2
2,Ramesh,M,25-05-1989,25,54,89,76,95,87,56,74
3,Jessica,F,12-08-1990,78,96,86,63,54,89,75,45
4,Jennifer,F,02-09-1989,58,96,78,46,96,77,83,53

In [3]:
df['Maths'].mean()

59.6

In [4]:
df['English'].mean()

69.7

In [5]:
df['Chemistry'].mean()

75.3

In [6]:
df['Maths'].median()

55.0

In [7]:
df['Maths'].mode()

0    55
dtype: int64

In [8]:
df['Civics'].median()

63.0

In [9]:
df['Physics'].mode()

0    96
dtype: int64

In [10]:
#60th percentile- perticular number below which 60% of the data falls below

In [11]:
import numpy as np
a=np.array([1,3,3,4,5,6,6,7,8,8])
np.percentile(a,100)

8.0

In [12]:
np.percentile(a,50)

5.5

In [13]:
np.percentile(a,25)

3.25

In [14]:
import scipy
import numpy as np
import warnings
warnings.filterwarnings('ignore')
scipy.__version__

'1.7.1'

In [15]:
a=np.array([[3,7,5],[8,4,3],[2,4,9]])
a

array([[3, 7, 5],
       [8, 4, 3],
       [2, 4, 9]])

In [16]:
print(scipy.mean(a))

5.0

In [17]:
print(scipy.median(a))

4.0

In [18]:
print(round(scipy.var(a),2))

5.33

In [19]:
print(round(scipy.std(a),2))

2.31

In [20]:
import scipy.stats as st
p=np.array([5,8,9,5,6,5,10,14])
st.mode(p)

ModeResult(mode=array([5]), count=array([3]))

In [21]:
b=np.array([[1,3,4,2,2,7],[5,2,2,1,4,1],[3,3,2,2,1,1]])
b

array([[1, 3, 4, 2, 2, 7],
       [5, 2, 2, 1, 4, 1],
       [3, 3, 2, 2, 1, 1]])

In [22]:
m=st.mode(b)
m

ModeResult(mode=array([[1, 3, 2, 2, 1, 1]]), count=array([[1, 2, 2, 2, 1, 2]]))

In [23]:
import scipy
from scipy import stats
from scipy.stats import percentileofscore

In [24]:
 percentileofscore(df['Maths',25])

KeyError: ('Maths', 25)

In [26]:
max_m=df['Maths'].max()
max_m

96

In [27]:
min_m=df['Maths'].min()
min_m

25

In [28]:
r=max_m-min_m
r

71

In [29]:
print(df['English'].var())
print(df['English'].std())

208.89999999999998
14.453373308677804

In [ ]:
from sci.stats